BOT_TOKEN=
BOT_USERNAME=
DEV_TELEGRAM_ID=
SUPPORT_URL=https://t.me/kiojomi

TARIF_MESSAGE_1=
TARIF_MESSAGE_3=
TARIF_MESSAGE_6=
TARIF_MESSAGE_12=

HYBRID_QUEUE_THRESHOLD=1000
HYBRID_SCAN_SOFT_TIMEOUT_MS=30000

DB_PATH=bot.db
